<!-- Main Carousel -->    
<div id="the-carousel" class="main-carousel" data-flickity='{ "cellAlign": "left", "contain": true }'>
    <!-- Nav menu -->
    <div id="a1-a" class="carousel-cell">       
        <!-- Vertical slide target -->    
        <div class="vertical-slide-target"></div>  
        <div class="main-unit">
            <div class="identity-section text-middle-container my-is-flex is-centered is-absolute">
                <h1>Autumn's Home</h1>
                <h2>It is windy today.</h2>
                <h3>{{ currentTime }}<br>Last Login: 5 days ago.</h3>
                <div *ngIf="scheduledEvents.length > 0" class="schedule-events-title">Metaverse Events</div>
                <div class="schedule-entry">
                    <ul>
                        <!-- E.g., @19:00 PM - Meet with TryAgain34 in Chat Homes Jazzy Lounge -->
                        <li *ngFor="let event of scheduledEvents">
                            {{ event.name }}
                        </li>
                    </ul>
                </div>

                <img id="grouppic" src="../assets/grouppic.jpeg"/>
                
                <!--Apps installed -->
                <div class="apps-installed-list">
                    <h1>Apps Installed</h1><hr>
                    <ul>
                        <li>Sticky Writer Pro</li>
                        <li>Bard Tales: Retro 2D Edition</li> 
                        <li>Chat Homes VR</li>
                    </ul>    
                </div>
            </div>           
        </div>
    </div> 

    <div id="a1-b" class="carousel-cell">
        <app-meta-journal></app-meta-journal>
    </div>

    <div id="a1-c" class="carousel-cell">    
        <app-quest-idler (playerRefChange)="updatePlayerRef($event)" [playerRef]="playerRef"></app-quest-idler>   
    </div>

    <div id="a1-e" class="carousel-cell">       
        <app-chat-homes></app-chat-homes>
    </div> 
</div>

<app-meta-friend-list *ngIf="this.friendListVisible"></app-meta-friend-list>
<app-meta-message-center *ngIf="this.messageCenterVisible"></app-meta-message-center>

<nav class="navbar my-is-flex is-centered">
    <button (click)="this.setMessageCenterVisible(!this.messageCenterVisible)" class="">
        <mat-icon class="mat-icon-rtl-mirror">
            {{ this.messageCenterVisible? 'cancel' : 'forum' }} 
        </mat-icon>
    </button>
    <button (click)="this.setFriendListVisible(!this.friendListVisible)" class="">
        <mat-icon class="mat-icon-rtl-mirror">
            {{ this.friendListVisible? 'cancel' : 'hub' }} 
        </mat-icon>     
    </button>
</nav>
