<!-- Main Carousel -->    
<div class="main-carousel" data-flickity='{ "cellAlign": "left", "contain": true }'>
    <div id="a1-a" class="carousel-cell">       
        <!-- Vertical slide target -->    
        <div class="vertical-slide-target"></div>  
        <div class="main-unit">
            <div class="identity-section text-middle-container my-is-flex is-centered is-absolute">
                <h1>Metaverse Launcher</h1>
                <h3>Time: </h3>
                <div id="identity-section-el-1" class="identity-el">Metaverse Events Today:</div><hr/>           
                <div id="identity-section-el-1" class="identity-el">7:00 PM. Community Dinner</div>          
                <div class="home-screen-calendar">Calendar</div>
            </div>
        </div>
    </div> 

    <div id="a1-b" class="carousel-cell">       
        <div class="vertical-slide-target">
        </div>  
        <div class="main-unit">
            <div class="identity-section text-middle-container my-is-flex is-centered is-absolute">
                <div id="identity-section-el-1" class="identity-el">Quiet Garden Service</div>  
                <div id="identity-section-el-1" class="identity-el">It is tranquil. (There are no visitors.)</div>           
            </div>       
            <button id="quiet-garden-fishing-trigger"></button>  
            <button id="quiet-garden-farming-trigger"></button>  
            <button id="quiet-garden-forest-visitors-trigger"></button>
        </div> 
    </div> 

    <div id="a1-c" class="carousel-cell">    
        <app-quest-idler></app-quest-idler>   
    </div>

    <div id="a1-d" class="carousel-cell">       
        <div class="main-unit">
            <div class="identity-section text-middle-container my-is-flex is-centered is-absolute">
                <div id="identity-section-el-2" class="identity-el">Dining Hall Service</div>           
                <div id="identity-section-el-2" class="identity-el">(There are no visitors.)</div>           
            </div>           
        </div>
    </div> 

    <div id="a1-e" class="carousel-cell">       
        <app-chat-homes></app-chat-homes>
    </div> 
</div>

<app-meta-friend-list *ngIf="this.dashboardVisible"></app-meta-friend-list>

<!-- Nav menu -->
<nav class="navbar my-is-flex is-centered">
    <button (click)="this.setDashboardIsVisible(!this.dashboardVisible)" class="">
        {{ this.dashboardVisible? "Close Dashboard" : "Open Dashboard" }} 
    </button>
</nav>
<div class="navbar-mask"></div>