<div class="meta-message-center-window">
    <h1>Message Center</h1>
    <div class="message-container">
        <ul>
            <li *ngFor="let message of outputMessages">                
                <p>id: {{ message.id }} </p>
                <p>sender: {{ message.sender }}</p>
                <p>recipient: {{ message.recipient }}</p>
                <p>title: {{ message.title }}</p>
                <p>date: {{ message.date }}</p>
                <p id="message-center-body">{{ message.body }}</p>
                <p>reply: <br>
                    <button>"Thunder and rain surround our meeting."</button>
                    <button>"I am at present tossed by the winds, and you shall not find me ere' on the morrow's eve."</button>
                </p>
            </li>
        </ul>
        <br>
        <h3>New Messages</h3>
        <hr>

        <h3>Archived</h3>
        <hr>
    </div>
    <hr>
</div>   