<div id="meta-message-center-tag" class="meta-message-center-window">
    <div class="message-container">
        <h1 class="title-big">Help Center</h1><hr>
        <form [formGroup]="formModel" (ngSubmit)="onSubmit()">
            <div formGroupName="requestType">
                <label for="request-type-a">Knowledge Request</label>&nbsp;
                <input formControlName="typeA" value="data-request" id="typeA" type="radio" (change)="changeRequestType($event)"/><br>    
                <div *ngIf="requestType === 'data-request'">
                    <h1>Keyword Options:</h1>
                    <ul>
                        <li>Mountain</li>
                        <li>Moon</li>
                        <li>River</li>
                    </ul>
                    <h3>For help:</h3>
                    <p>1-74-10</p>
                </div>
                <hr>
                <label for="request-type-b">Write Request</label>&nbsp;
                <input formControlName="typeA" value="data-submit" id="typeB" type="radio" (change)="changeRequestType($event)"/><br>    
            </div>
            <hr>
            <h1>Enter Words of Interest</h1>
            <hr>            
            <div formArrayName="keywords" *ngFor="let k of keywords.controls; let i = index">
                <div [formGroupName]="i">
                    <label for="{{ k.value + i }}">Keyword: </label>&nbsp;<input formControlName="keywordName" id="{{ k.value + i }}" type="text" placeholder="Enter keyword"/>
                    &nbsp;<button (click)="removeKeyword(i)">Remove</button>
                </div>
                <br>
            </div>
            <button (click)="addKeyword()">Add keyword field</button>&nbsp;&nbsp;
            <button type="submit" [disabled]="!formModel.valid">Send</button>    
        </form>
        <br>
        <div class="missionControlMessages" *ngIf='successResponse !== ""'>
            Response: {{ successResponse }}
        </div>
    </div>
    <hr>
</div>   