.quest-idler-routes button {
    font-family: 'Press Start 2P', cursive;
}
button {
    margin-right: 0.5rem;
    padding: 1.5rem;
}

.button__accept-party-request {
    background-color: green;
    color: white;
    cursor: pointer;
}

.button__accept-party-request:hover {
    color: pink;
}

.bard-declaration {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: pink;
    padding: 6rem;
    font-size: 5rem;
}