
.friend-list {
    display: inline-block;
    position: absolute;
    border: 10px solid red;
    height: 50vh;
    width: 30vw;
    background-color: darkblue;
    color: lime;
}

.friend-list button:after, .friend-list button:before {
    content: "::";
}