<mat-card class="meta-journal-window">
    <hr>
    <div>
        <h1>Red Carbuncle</h1>
        <hr>
        <div>
            <p>I hound</p>
            <p>You answer</p>
            <p>We are together</p>
        </div>
        <h1>Metal Carbuncle</h1>
        <hr>
        <div>
            <p>Promise me one thing</p>
            <p id="liberation-p">Our liberation</p>
        </div>
        <h1>Dyerden</h1>
        <hr>
        <div>
            <p>The rain hath a cold promise made to wash away my fear.</p>
            <p>In my childhood it swore thus, and in my adulthood it remaineth like a dog.</p>
            <p>Yet instead of my redemption obtained, my irk grows by the year.</p>
            <p>So my body continues to scorch and to relieve and to feel as sog.</p>
            <p>How often hath the rain been slippery and a liar most jesterly?</p>
        </div>
        <br>
        <h1>A heart of dust</h1>
        <hr>
        <div>
            <p>Whence shall I find true love and destiny?</p>
            <p>Should I labor for no merit and only calamity?</p>
            <p>Hath my blacksmith forged a blade unsheathed and made to rust?</p>
            <p>If no rivers be strong enough for this heart of dust,</p>
            <p>and until my soul rejoices of having a respite of honey and dew found,</p>
            <p>my spirit shall not rest.</p>
        </div>
        <br>
        <h3>Attachments</h3>
        <br>
        <h1>Pig tar</h1>
        <hr>
        <div>
            <p>One hand grabs my left ankle, and the other my right ear.</p>
            <p>It is a fool who shelters doubt harder than ebony.</p>
            <p>But whom shall be my judge, I who hath transpired with worms?</p>
            <p>I hath no good purpose to peruse the hearts of others.</p>
            <p>For my love revealed mine heart to be fouler than pig tar.</p>
        </div>
        <br>
        <h1>The Freedom</h1>
        <hr>
        <div>
            <p>A beloved bride most beautiful thy deserved.</p>
            <p>Instead thee must content with a pig.</p>
            <p>Should I now lament for another thousand years?</p>
            <p>Hath thy not commanded for the red links to be made distinct once again?</p>
        </div>
    </div>
</mat-card>   