<div class="meta-journal-window">
    <h1>PLAYER_NAME</h1>
    <hr>

    <h2>Chapter One: Passages of Wind</h2><br>
    <h3>Journal Entry</h3>
    <hr>
    <!-- <p>I was supposed to find her in the autumn, in the afternoon, at the inn where "winter roses bloom".</p> -->
    <p>I met someone on Quest Idler. TryAgain34? They want to talk tomorrow. In Chat Homes's Jazzy Lounge. Not sure what to do - didn't plan for this to happen. I hope they don't do voice chat.</p>
    <br>
    <h3>Attachments</h3>
    <hr>
</div>   