.meta-journal-window {
    position: fixed;
    left: 20vw;
    top: 0; 

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: left;

    background-color: hsla(48, 45%, 54%, 1);
    color: black;
    z-index: 2;
    
    width: 50vw;
    height: 85vh;

    padding-left: 1.2rem;

    overflow: scroll;
}

p, h1, h3 {
    font-family: 'Allura', cursive;
}

p {
    line-height: 6rem;
    font-size: 4.5rem;
    font-weight: bold;
}

h1 {
    font-size: 7.5rem;
}

h3 {
    font-size: 5.5rem;
}

#liberation-p {
    margin-left: 3rem;
}

.file-selection {
    display: fixed;
    top: 0;
    overflow: scroll;
}

.file-selection button {
    margin-left: 80vw;
    height: 100px;
    width: 200px;
    background-color: yellow;
}

.strikethrough {
    text-decoration: line-through;
}