<div class="meta-friend-list-window">
  <div class="sms-window">
    <div class="friend-info">
      <img class="profile-avatar" src="../../assets/queenpic_bw.png" alt="profile-icon"/>
      <div class="friend-info-details">
        <p>Autumn</p>
        <p>Status: <span style="color: lime">Contemplative</span></p>  
      </div>
    </div>
    <section class="text-section">
        <ul *ngFor="let text of textData; index as i">
            <li>{{ text }}<span class="timeStamp">{{ dateData[i] }}</span></li><br>
        </ul>
    </section>
    <section class="text-input">
        <input disabled id="playerTextInput" type="text" placeholder="Breathe"/>
        <button [disabled]='lastEventKey === "" || waitForDelay || preventSpam' (click)="continueConversation('playerTextInput', textData, this.lastEventKey)">Send</button>
    </section>
  </div>
</div> 