html, body {
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
}

.flex-container {
    display: flex;
    justify-content: center;
}

.avatar-display, .avatar-pic, .inline-container {
    font-family: 'Press Start 2P', cursive;
}

.avatar-display {
    display: block;
    border: 5px solid blue;
    width: 75vw;
    height: 75vh;
    text-align: center;
    line-height: 22vh;
    background-color: black;
    color: lime;
    overflow: scroll;
}

.avatar-pic {
    font-size: 2.5rem;
    cursor: pointer;
}

.inline-container {
    display: inline-block;
    width: 100vw;
    height: 100vh;
}