<div class="flex-container">
    <div class="gameCanvas">
        <div class="poetry-game-section avatar-display">
            <div class="locationBg">
                <div class="enemy-pic">Bard: The quest has started: {{ ActiveQuestName }}</div>
                <div class="enemy-pic" >Bard: {{ BardText }}</div>
            </div>
            <div class="flex-centered">
                <div class="character-prompt-container">
                    <div *ngIf="activePartyQuest && questWindowBuilder?.show">

                    </div>
                    <div *ngIf="promptReplyBuilder?.showPrompt && activePartyQuest && promptReplyBuilder as prompt">
                        <p>{{ activePartyQuest.getRegistrants()[1].name }}: {{ ActivePrompt.getText() }}</p><br>
                        <p *ngIf="prompt.activePromptReply && prompt.showPlayerPromptReply">Autumn: {{ prompt.activePromptReply }}</p><br>
                        <p *ngIf="prompt.activeCharacterPromptReply && prompt.showCharacterPromptReply">{{ activePartyQuest.getRegistrants()[1].name }}: {{ prompt.activeCharacterPromptReply }}</p>
                        
                        <div *ngIf="promptList[this.promptIterator].getPlayerOptions() as optionList">
                            <div *ngIf="optionList.length > 0 && prompt.showPrompt">                           
                                <ul>
                                    <li *ngFor="let option of optionList; let i=index;" >
                                        <button *ngIf="prompt.showPlayerOptions" id="prompt-bt-a" (click)='handlePromptReplyClick(i)' clickable>
                                            {{option}}
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>            
            <label for="avatar-pic-id">
                {{ !promptReplyBuilder?.IsLocked? "As One Clicks Below" : "One Reads Above" }}
            </label>
            <hr>
            <br>
            <div class="gameClickHandler">
                <h3>{{ AvatarName }}</h3>&nbsp;&nbsp;
                <div id="avatar-pic-id" [class.avatar-alive]="AvatarStats.currentHealth > 0" [class.avatar-dead]="AvatarStats.currentHealth <= 0" class="avatar-pic" (click)="handleAvatarClicked($event)" clickable>
                    <div *ngIf="PlayerDisplayState === 0">
                        {{ PlayerAvatar.Idle }}
                    </div>
                    <div *ngIf="PlayerDisplayState === 1">
                        {{ PlayerAvatar.Fighting }}
                    </div>
                    <div *ngIf="PlayerDisplayState === 2">
                        {{ PlayerAvatar.Victorious }}
                    </div>
                    <div *ngIf="PlayerDisplayState === 3">
                        {{ PlayerAvatar.Defeated }}
                    </div>
                    <div *ngIf="PlayerDisplayState === 4">
                        {{ PlayerAvatar.Dead }}
                    </div>
                </div>&nbsp;&nbsp;
                <!-- Friend -->
                <h3>{{ activePartyQuest!.getRegistrants()[1].name }}</h3>&nbsp;&nbsp;
                <div class="avatar-pic">
                    <div *ngIf="PlayerDisplayState === 0">
                        {{ FriendAvatar.Idle }}
                    </div>
                    <div *ngIf="PlayerDisplayState === 1">
                        {{ FriendAvatar.Fighting }}
                    </div>
                    <div *ngIf="PlayerDisplayState === 2">
                        {{ FriendAvatar.Victorious }}
                    </div>
                    <div *ngIf="PlayerDisplayState === 3">
                        {{ FriendAvatar.Defeated }}
                    </div>
                    <div *ngIf="PlayerDisplayState === 4">
                        {{ FriendAvatar.Dead }}
                    </div>
                </div>    
            </div>
            <app-avatar-detail [currentHealth]="AvatarStats.currentHealth" [currentLevel]="AvatarStats.currentLevel" [currentExperience]="AvatarStats.currentExperience" [experienceTotalRequired]="AvatarStats.experienceTotalRequired"></app-avatar-detail>            
        </div>
    </div>
</div>
