.flex-container {
    display: flex;
    justify-content: center;
}

.avatar-display, .avatar-pic, .inline-container {
    font-family: 'Press Start 2P', cursive;
}

.avatar-display {
    display: block;
    border: 5px solid blue;
    width: 75vw;
    height: 75vh;
    text-align: center;
    background-color: black;
    color: lime;
    overflow: scroll;
}

.avatar-pic {
    display: flex;
    font-size: 1.1rem;
    cursor: pointer;
    border: 3px solid cyan;
    width: 400px;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.avatar-pic:hover {
    background-color: green;
}

.enemy-pic {
    font-style: italic;
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    position: relative;
    top: 300px;
}

.inline-container {
    display: inline-block;
    width: 100vw;
    height: 100vh;
}

#locationBg {
    background-image: url('../../assets/sunbg.png');
    background-size: cover; /* Resize the background image to cover the entire container */
    background-position: center; /* Center the image */
    height: 400px;
    width: 100%;
}

.gameClickHandler {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.avatar-alive {}

.avatar-alive:hover {
    background-color: green;
}

.avatar-dead {}

.avatar-dead:hover {
    background-color: red;
}

.character-prompt-container {
    color: white;
    height: 300px;
    width: 500px;
}

.flex-centered {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.quest-window {
    margin-right: 1.5rem;
}