<div id="a3-1" class="carousel-cell">       
    <div class="main-unit">
        <div class="identity-section text-middle-container my-is-flex is-centered is-absolute">
        <div id="unity-container" class="unity-desktop">
            <canvas id="unity-canvas" width=960 height=600></canvas>
            <div id="unity-loading-bar">
            <div id="unity-logo"></div>
            <div id="unity-progress-bar-empty">
                <div id="unity-progress-bar-full"></div>
            </div>
            </div>
            <div id="unity-warning"> </div>
            <div id="unity-footer">
            <div id="unity-webgl-logo"></div>
            <div id="unity-fullscreen-button"></div>
            <div id="unity-build-title">TestExport</div>
            </div>
        </div>    
    </div> 
</div> 