<div id="a3-1" class="carousel-cell">       
    <div class="main-unit">
        <div class="identity-section text-middle-container my-is-flex is-centered is-absolute">
        <!--Mock login that hides the black bg-->        
        <div class="message-form centered">
            <h2>Chat Homes 3D</h2>
            <form #f="ngForm">
                <input type="text" name="chat-homes-login" id="chat-homes-login" placeholder="autumn" />&nbsp;&nbsp;
                <input type="text" name="chat-homes-password" id="chat-homes-password" placeholder="Enter password." />
                <br><button onclick="">Submit</button>
                <button onclick="">About</button>
            </form>
        </div>
        <div id="unity-container" class="unity-desktop">
            <canvas id="unity-canvas" width=960 height=600></canvas>
            <div id="unity-loading-bar">
            <div id="unity-logo"></div>
            <div id="unity-progress-bar-empty">
                <div id="unity-progress-bar-full"></div>
            </div>
            </div>
            <div id="unity-warning"> </div>
            <div id="unity-footer">
            <div id="unity-webgl-logo"></div>
            <div id="unity-fullscreen-button"></div>
            <div id="unity-build-title">TestExport</div>
            </div>
        </div>    
    </div> 
</div> 