.avatar-display {
    display: inline-block;
    border: 5px solid blue;
    width: 70vw;
    height: 80vh;
    text-align: center;
    background-color: black;
    color: lime;
    overflow: scroll;
}

.avatar-pic {
    font-size: 2.5rem;
    cursor: pointer;
}

.inline-container {
    display: inline-block;
    width: 100vw;
    height: 100vh;
}

.enemy-pic {
    font-style: italic;
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
}

.quest-location {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
}

.poetry-game-section {
    background-color: darkblue;
    margin-top: 20rem;
}

.poems {
    width: 50%;
    line-height: 2rem;
}
.poems, .poetry-game-section, .enemy-pic, .quest-location {
    font-family: 'Press Start 2P', cursive;
}