<div class="avatar-display">
    <h3 class="quest-location">{{this.getLocationName()}}</h3>
    <div>{{this.getLocation()}}{{this.getLocation()}}{{this.getLocation()}}</div>
    <div class="poems">
        <div class="poem-container">
            <p>Script:</p>
            <ul>
                <li *ngFor="let poem of poems">
                    {{ poem }} 
                </li>
            </ul>
        </div>
        <div class="gameCanvas">
            <div class="locationBg">
                <div class="enemy-pic" >Bard: {{this.getEnemyPlaceholder()}}</div>    
            </div>
            <div class="gameClickHandler">
                <label for="avatar-pic-id">Autumn</label>
                <div id="avatar-pic-id" [class.avatar-alive]="currentHealth > 0" [class.avatar-dead]="currentHealth <= 0" class="avatar-pic" (click)="handleAvatarClicked()">{{this.getAvatar()}}</div>
            </div>
            <div class="poetry-game-section">
                <app-avatar-detail [currentHealth]="currentHealth" [currentLevel]="currentLevel" [currentExperience]="currentExperience" [experienceTotalRequired]="experienceTotalRequired"></app-avatar-detail>    
            </div>
            <div>
                <p>[set current click sound]: default</p>
            </div>
        </div>
    </div>
</div>