.avatar-display {
    display: inline-block;
    border: 5px solid blue;
    width: 70vw;
    height: 100vh;
    text-align: center;
    line-height: 22vh;
    background-color: black;
    color: lime;
}

.avatar-pic {
    font-size: 2.5rem;
    cursor: pointer;
}

.inline-container {
    display: inline-block;
    width: 100vw;
    height: 100vh;
}